# from .gitignore
.DS_Store
*.swp
*.swo
.nyc_output
.project
.settings/*
node_modules
coverage
src/*tmp*.*
*tmp*.*
*tmp*
tracking.*
siteverification.id
npm-debug.log

# stuff not to publish to npm
samples/**
src/**
test/**
utl/**
.bithoundrc
.dependency-cruiser.json
.github/**
.gitlab-ci.yml
.istanbul.yml
.travis.yml
appveyor.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
tsconfig.json
tslint.json
