sudo: false

language: node_js

node_js:
  - "4"
  - "5"
  - stable

install:
  - npm install

script:
  - npm run lint
  - npm run jscs
 # - npm run nsp
  - npm run cover

branches:
  except:
    - gh-pages

cache:
  directories:
    - node_modules

addons:
   code_climate:
     repo_token: $CODECLIMATE_REPO_TOKEN

after_success:
  - npm run codeclimate-cover-submit
  - npm run codecov-submit
